html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(225, 237, 225);
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar-container {
    grid-column: 1 /2 ;
    grid-row: 1 / 3;
    background-color: rgb(18, 168, 18);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}

.sidebar-title {
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.sidebar-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}





.header-container {
    background-color: white;
}